<header class="p-3 bg-dark text-white sticky-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="/push" class="nav-link px-2 text-white">Post Article</a></li>
            </ul>

            <%- include search.ejs %>
            <div class="text-end m-lg-1" id="login">
                <button type="button" class="btn btn-outline-light me-2"
                        onclick="window.location.href='/login'"
                >Login</button>
                <button type="button" class="btn btn-warning"
                        onclick="window.location.href='/register'"
                >Sign-up</button>
            </div>
            <div class="text-end m-lg-1" id="logout">
                <button type="button" class="btn btn-danger" id="logout-btn"
                        onclick="window.location.href='/'"
                >Logout</button>
            </div>
        </div>
    </div>
    <script>
        function delete_cookie(name) {
            document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
        if (document.cookie.indexOf('token=') !== -1) {
            document.getElementById('login').style.display = 'none';
            document.getElementById('logout').style.display = 'block';
        } else {
            document.getElementById('login').style.display = 'block';
            document.getElementById('logout').style.display = 'none';
        }
        document.getElementById("logout-btn").addEventListener("click", ev => {
            delete_cookie('token');
        });
    </script>
</header>
<br/>